.CornerTimeDisplay {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.MainOverlayComponent {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid cyan; */
}

.MousePositionDisplay {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.HaruhiDisplay {
    position: fixed;
    width: 70vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
